{% extends 'base.html.twig' %}

{% block title %}{{event.name}}{% endblock %}

{% block body %}
    <h1 class="main-title mt-50 mb-50 green">{{ event.name }}</h1>
    <p>{{ event.description }}</p>
{% endblock %}