/* imports */

@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Didact+Gothic&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* variables */

:root {
    /* colors */
    --primaryGreen: #4F614B;
    --darkenGreen: #364434;
    --primaryMarron: #8D6536;
    --primaryGray: #544C41;
    --primaryWhite: #FFFFFF;
    --primaryBlack: #000000;
    --lightBlack: #0000007a;
    --inputBackground: #D9D9D9;
    --footerBackground: #ECECEC;

    /* styles pour les messages */

    --background-message-success: #d4edda;
    --border-message-success: #c3e6cb;
    --color-message-success: #155724;

    --background-message-error: #f8d7da;
    --border-message-error: #f5c6cb;
    --color-message-error: #721c24;

    --background-message-warning: #fff3cd;
    --border-message-warning: #ffeeba;
    --color-message-warning: #856404;

    /* fonts */
    --main-font-family-text: 'Didact Gothic', 'Inter', sans-serif;
    --titles-font-family: 'Dangrek', 'Inter', sans-serif;
}

/*********/
/* reset */
/*********/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font-family-text);
}

a {
    text-decoration: none;
    color: var(--primaryBlack);
    cursor: pointer;
}

h1, h2, h3 {
    font-family: var(--titles-font-family);
}

a.menu-link {
    text-decoration: none;
    color: var(--primaryBlack);
    font-family: var(--titles-font-family);
    font-weight: bold;
}

a.menu-link:hover {
    color: var(--primaryGreen);
}

a.btn, button.btn {
    padding: 7px 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

ul {
    margin-bottom: 0;
}

li {
    list-style-type: none;
}

html, body {
    overscroll-behavior: none;
    scroll-behavior: smooth;
}

/*********************/
/* styles components */
/*********************/

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

h1.main-title {
    margin-block: 20px;
    position: relative;
    width: max-content;
    margin-inline: auto;
}

h1.main-title::after {
    content: '';
    background-image: url("/images/Sae_Zoo_Image/LogoSAE_Zoo.png");
    display: block;
    width: 40px;
    height: 40px;
    background-size: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -60px;
}

a.btn:hover, a.btn:focus, button.btn:hover, button.btn:focus  {
    color: var(--primaryWhite);
}

a.button-primary,
button.button-primary {
    color: var(--primaryWhite);
    background-color: var(--primaryGreen);
    border-radius: 10px;
}

a.button-secondary, button.button-secondary {
    color: var(--primaryGreen);
    background-color: var(--primaryWhite);
    border: 1px solid var(--primaryGreen);
    border-radius: 10px;
}

a.button-primary:hover, a.button-primary:focus,
button.button-primary:hover, button.button-primary:focus {
    background-color: var(--darkenGreen);
}

a.button-secondary:hover, a.button-secondary:focus,
button.button-secondary:hover, button.button-secondary:focus {
    background-color: var(--primaryGreen);
}

input {
    border: 1px solid var(--primaryGreen);
    padding: 10px;
    border-radius: 10px;
    color: var(--primaryGray);
}

input:focus {
    color: var(--primaryBlack);
    border: 1px solid var(--primaryGreen);
}

label {
    color: var(--primaryBlack);
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
}

a.login-btn {
    display: block;
    margin: 25px auto 30px;
    width: 100%;
    text-align: center;
}

/* message lors d'envoi de formulaire */

p.message {
    padding: 15px;
    border-radius: 10px;
}

p.message-success {
    background: var(--background-message-success);
    border: 1px solid var(--border-message-success);
    color: var(--color-message-success);
}

p.message-error {
    background: var(--background-message-error);
    border: 1px solid var(--border-message-error);
    color: var(--color-message-error);
}

p.message-warning {
    background: var(--background-message-warning);
    border: 1px solid var(--border-message-warning);
    color: var(--color-message-warning);
}

/***************/
/* header, nav */
/***************/

header.header div.main-infos {
    display: flex;
    align-items: center;
    gap: 10px;
}

header div.main-infos a {
    color: var(--primaryGreen);
    font-weight: bold;
}

header.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3vw;
    padding-block: 10px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--primaryGray);
    z-index: 10;
    background-color: white;
}

header nav {
    display: flex;
    align-items: center;
}

header img {
    width: 40px;
    aspect-ratio: 1;
}

header nav div {
    display: flex;
    align-items: center;
    gap: 20px;
}

div#hamburger-menu {
    display: none;
}

a.profil {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

a.profil:hover {
    transform: translateY(-3px);
}

/*********/
/* forms */
/*********/

div.warning-message {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

div.warning-message h3 {
    text-align: center;
    font-size: 24px;
}

div.delete-form {
    display: flex;
    gap: 10px;
    margin-top: 50px;
}

div.intro-profile {
    text-align: center;
}

div.intro-profile::after {
    content: '';
    display: block;
    margin: 30px auto;
    width: 70%;
    height: 1px;
    background-color: var(--primaryGray);
}

div.edit-profile {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

div.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    gap: 25px;
    margin: 0 auto;
    max-width: 1400px;
}

div.profile button,
div.btn-actions a {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.edit-profile form {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between;
    margin: 0 auto;
    gap: 20px;
}

div.edit-profile form::after {
    content: '';
    display: block;
    width: 100%;
    background-color: var(--primaryGray);
    height: 1px;
    margin-top: 30px;
}

form.register-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

form.register-form div.check-terms {
    margin-block: 20px;
}

form.register-form div.check-terms div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

form.register-form div.check-terms div label {
    margin: 0;
}

form.change-form div,
form.password-form div,
form.register-form div {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.edit-profile form button {
    margin-top: 20px;
    height: 100%;
}

div.edit-profile div.btn-actions {
    margin-top: 50px;
    margin-inline: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}



/**********/
/* footer */
/**********/

footer {
    padding: 40px;
    background-color: var(--footerBackground);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer div.container-links {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 40px;
}

footer div.container-links a:hover {
    text-decoration: underline;
}

footer div.newsletter {
    width: 60%;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

footer div.newsletter p {
    font-size: 18px;
    font-weight: bold;
    color: var(--primaryGreen);
}

footer div.newsletter input {
    background-color: var(--inputBackground);
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

footer div.container-infos {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer div.container-infos div.infos {
    margin-bottom: 10px;
}

footer div.container-infos p.infos-title {
    color: var(--darkenGreen);
    font-weight: bold;
    font-size: 18px;
}

footer div.container-infos p.copyright {
    color: var(--primaryGray);
}

/***********/
/* content */
/***********/

div.content {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 30px;
    background-color: var(--primaryWhite);
}

div.container-body-infos {
    background-color: white;
    border-radius: 10px;
}

/*****************/
/* media queries */
/*****************/

@media screen and (max-width: 800px) {
    header.header nav {
        display: none;
    }

    div.content {
        min-height: 85vh;
    }

    header.header nav.open {
        position: absolute;
        top: 60px;
        right: 0;
        display: flex;
        justify-content: space-between;
        background-color: var(--primaryWhite);
        border: 1px solid var(--darkenGreen);
    }

    header.header nav.open div {
        flex-direction: column;
        padding: 30px;
        align-items: baseline;
    }

    header.header nav.open div a {
        width: 100%;
        text-align: center;
    }

    div#hamburger-menu {
        display: block;
    }
    a.profil::before {
        content: 'Profil';
        font-size: 18px;
        margin-right: 5px;
        font-weight: bold;
    }
}

@media screen and (min-width: 800px) {
    footer {
        flex-wrap: wrap;
        flex-direction: row;
    }
    footer div.container-links {
        flex-direction: column;
    }
    div.container-links-news {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        margin-inline: 60px;
        align-items: center;
    }
    footer {
        padding: 50px;
    }
    footer div.newsletter {
        width: 40%;
    }
    footer div.container-infos {
        display: flex;
        flex-direction: row;
    }
    footer div.container-infos {
        margin: 0 auto;
    }
}

@media screen and (min-width: 800px) {
    form.change-form div, form.register-form div, a.login-btn {
        width: 45%;
    }
    form.register-form div.check-terms div {
        width: 100%;
    }
    div.content {
        background: url('/images/img-animaux/zebres-girafes.png') no-repeat center;
        background-size: cover;
    }
    div.btn-actions {
        width: 70% !important;
        display: flex;
        justify-content: flex-end !important;
    }
    div.container-body-infos {
        padding: 40px;
        width: 95%;
        margin: 0 auto;
    }
    body {
        height: 100%;
    }
}

@media screen and (min-width: 1000px) {
    p.message {
        padding: 15px;
        width: 70%;
        margin: 0 auto 50px;
        border-radius: 10px;
    }
}