:root {
    --primaryGreen: #4F614B;
    --darkenGreen: #364434;
    --primaryMarron: #8D6536;
    --primaryGray: #544C41;
    --primaryWhite: #FFFFFF;
    --primaryBlack: #000000;
    --lightBlack: #0000007a;
    --inputBackground: #D9D9D9;
    --footerBackground: #ECECEC;
}

/*********/
/* reset */
/*********/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
    color: var(--primaryBlack) !important;
}

a.menu-link {
    text-decoration: none !important;
    color: var(--primaryBlack) !important;
}

a.menu-link:hover {
    color: var(--lightBlack) !important;
}

a.btn {
    padding: 7px 15px;
    font-weight: bold;
}

ul {
    margin-bottom: 0px !important;
}

li {
    list-style-type: none;
}

html, body {
    overscroll-behavior: none;
    scroll-behavior: smooth;
}

/*********************/
/* styles components */
/*********************/

.full-width {
    width: 100%;
}

a.btn:hover, a.btn:focus {
    color: var(--primaryWhite) !important;
}

a.button-primary {
    color: var(--primaryWhite) !important;
    background-color: var(--primaryGreen);
    border-radius: 10px;
}

a.button-secondary {
    color: var(--primaryGreen) !important;
    background-color: var(--primaryWhite);
    border: 1px solid var(--primaryGreen);
    border-radius: 10px;
}

a.button-primary:hover, a.button-primary:focus {
    background-color: var(--darkenGreen);
}

a.button-secondary:hover, a.button-secondary:focus {
    background-color: var(--primaryGreen);
}

/***************/
/* header, nav */
/***************/

header.header div.main-infos {
    display: flex;
    align-items: center;
    gap: 10px;
}

header div.main-infos a {
    color: var(--primaryGreen);
    font-weight: bold;
}

header.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3vw;
    padding-block: 10px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--primaryGray);
    margin-bottom: 50px;
    z-index: 10;
    background-color: white;
}

header nav {
    display: flex;
    align-items: center;
}

header img {
    width: 40px;
    aspect-ratio: 1;
}

header nav div {
    display: flex;
    align-items: center;
    gap: 20px;
}

div#hamburger-menu {
    display: none;
}

/**********/
/* footer */
/**********/

footer {
    margin-top: 150px;
    padding: 40px;
    background-color: var(--footerBackground);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer div.container-links {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

footer div.container-links a:hover {
    text-decoration: underline !important;
}

footer div.newsletter {
    width: 60%;
}

footer div.newsletter p {
    font-size: 18px;
    font-weight: bold;
    color: var(--primaryGreen);
}

footer div.newsletter input {
    background-color: var(--inputBackground);
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

footer div.container-infos {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

footer div.container-infos div.infos {
    margin-bottom: 10px;
}

footer div.container-infos p.infos-title {
    color: var(--darkenGreen);
    font-weight: bold;
    font-size: 18px;
}

footer div.container-infos p.copyright {
    color: var(--primaryGray);
}

/***********/
/* content */
/***********/

div.content {
    margin-inline: 3vw;
}


/*****************/
/* media queries */
/*****************/

@media screen and (max-width: 800px) {
    header.header nav {
        display: none;
    }

    header.header nav.open {
        position: absolute;
        top: 60px;
        right: 0;
        display: flex;
        justify-content: space-between;
        background-color: var(--primaryWhite);
        border: 1px solid var(--darkenGreen);
    }

    header.header nav.open div {
        flex-direction: column;
        padding: 30px;
        align-items: baseline;
    }

    header.header nav.open div a {
        width: 100%;
    }

    div#hamburger-menu {
        display: block;
    }
}

@media screen and (min-width: 800px) {
    footer {
        flex-wrap: wrap;
        flex-direction: row;
    }
    footer div.container-links {
        flex-direction: column;
    }
    div.container-links-news {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        margin-inline: 60px;
        align-items: center;
    }
    footer {
        padding: 50px;
    }
    footer div.newsletter {
        width: 40%;
    }
    footer div.container-infos {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    footer div.container-infos {
        margin: 0 auto;
    }
}