{% extends 'base.html.twig' %}

{% block title %}Family{% endblock %}

{% block body %}
<h1>Listes des Familles</h1>
    <dl class="familylist">
    {% for family in families %}
            <dt>{{ family.name }}</dt>
            <dd>Description : {{ family.description }}</dd>
    {% endfor %}
    </dl>
{% endblock %}