{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/base.css')}}" type="text/css">
{% endblock %}

{% block body %}

    <h1>...Page en cour de construction...</h1>

{% endblock %}
