{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/base.css')}}" type="text/css">
{% endblock %}
 <h1> {{ ticket.id }}</h1>
{% block body %}

{% endblock %}
