<footer class="full-width">

    <div class="container-links-news">
        <div class="container-links">
            <a href="#">Contact</a>
            <a href="#">Politique de confidentialité</a>
            <a href="#">FAQ</a>
            <a href="#">À propos</a>
        </div>

        <div class="newsletter">
            <p>Newsletter</p>
            <input class="full-width" type="text" placeholder="Votre adresse e-mail" />
            <a class="btn button-primary full-width">S'inscrire</a>
        </div>
    </div>

    <div class="container-infos">
        <p class="infos-title">WildWonderHub, application de gestion de zoo depuis 2023</p>
        <p class="copyright">
            © Copyright 2023 - All Rights Reserved by WildWonderHub.
        </p>
    </div>

</footer>